/.git/**
**/.git/**
*.pyc
*.log
venv/
build/
dist/
temp/
vendor/
__pycache__/
*.phpintel
*.pytest_
.metadata/
.gradle/
.idea/
.git/
gradle-wrapper.jar
build/
debug/
release/
packages/
.vs/
aria_log*
ibtmp*
*.pid
.cxx/
cpp/
node_modules/
*.session
*.session-journal
*.exe
*.dll
*driver.exe
chromedriver
geckodriver
/libs/
/web/wp/
/web/wordpress/
/temp/
/media/
/video/
/temp/
/dlaio/libs/
/python/
Activate AIO Tools*
/drive/media/
/drive/demo/
/drive/recycle/
/drive/output/